# http://editorconfig.org
# * ... "/"を覗いた任意の文字列
# ** ... 任意の文字列
# ? 任意の１文字
# [name] nameに一致するもの
# [!name] nameに一致しないもの
# {s1,s2,s3} s1,s2,s3に一致する各々
root = true    # プロジェクトルートであることをeditorconfigに示す

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true    # ファイルに空白行を挿入する
trim_trailing_whitespace = true    # 行末の空白文字を削除する

[*.md]
trim_trailing_whitespace = false    # 行末の空白文字を削除しない。改行に使用する為。
